<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="SchoolConnection" connectionString="Server=VSI-P51-003\SYED;Database=School; User ID=abid; Password=abid123;"  />
  </connectionStrings>
</configuration>